body {
    font-family: 'Courier New', Courier, monospace;
}

.container {
    display: flex;
    border: 2px solid #010101;
    border-radius: 10px;
    max-width: 400px;
    padding: 20px;
    margin: 20px auto;
}

.config {
    margin: auto;
    display: flex;
    flex-direction: column;
}

select#model {
    padding: 5px;
    border-radius: 10px;
    width: 300px;
}

.color{
    display: flex;
    justify-content: space-between;
}

.accesorios {
    display: flex;
    justify-content: space-between;
}

h2 {
    text-align: center;
}

.seleccion, .color, .accesorios {
    margin-bottom: 20px;
}

label, p {
    display: block;
    margin-bottom: 5px;
}

.info {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
    border: 2px solid #020202;
    border-radius: 10px;
    padding: 20px;
}

.info div {
    border: 1px solid gray;
    padding: 10px;
    margin-bottom: 10px;
}

.seleccion {
    font-weight: bold;
}

footer {
    border-top: 2px solid #000000;
    padding-top: 10px;
    margin-top: 20px;
    text-align: center;
}

footer .importante {
    color: #ff0000;
}

label {
    cursor: pointer;
}

input[type="radio"], input[type="checkbox"] {
    cursor: pointer;
}
